.container {
    margin-top: 20px;
    /* background-color: red; */
    /* border: lightblue solid 5px; */
    height: 600px !important;
    /* margin: auto auto auto auto; */
    margin: 20px;
    /* width: 100% !important; */
}

.heading {
    width: 100% !important;
    height: 100px;
    /* background: rgb(29, 29, 168); */
    background: black;
    /* background: linear-gradient(90deg, rgb(168, 29, 133) 24%, rgb(143, 5, 222) 91%); */
    background: linear-gradient(90deg, rgb(24, 18, 22) 24%, rgb(182, 111, 223) 91%);
}

.heading h1 {
    font-family: 'Berkshire Swash',Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(238, 234, 234);
    padding-top: 20px;
}

.main {
    margin-top: 3%;
    /* margin-left: 25%; */
}

.main input {
    width: 50%;
    height: 40px!important;
    border-radius: 18px !important;
    border-image: linear-gradient(to right, rgb(139, 82, 158), rgb(109, 84, 109)) 1 !important;
    border: 2px solid;
    outline: none;
    font-family: 'Merriweather', serif;
}

.todolist {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(que.jpg); */
    /*To make blurry pic*/
    background: url('que2.png') !important;
    /* background-position: fixed !important; */
    /* opacity: 0.6; */
    /* background-color: red !important; */
    background-repeat: no-repeat !important;
    height: 50%;
    overflow-x: auto;
    /* overflow: scroll !important; */
    background-position: center !important;
    background-size: 200px 300px !important;
}




.icon-web {
    /* background-color: red; */
    height: 40px !important;
    background-color: rgb(9, 148, 241);
    border-radius: 10px;
    width: 30px !important;
}

.main button {
    background-color: rgb(152, 207, 233);
    border: none;
    border-radius: 20px;
    margin: 10px;
}


/* SP */

.lee {
    background-color: white;
    /* background-color: rgb(238, 238, 238); */
    color: black;
    box-shadow: 2px 2px 2px rgb(36, 47, 92);
    height: 40px;
    list-style: none;
    width: 100%;
    margin-top: 14px;
    margin-left: 10px;
    position: relative;
    font-size: 2vh;
    font-family: 'Merriweather', serif;
    /* left: 10px; */
    right: 30px;
    /* margin-right: 30px !important; */
}

.cut-btn {
    outline: none !important;
    border: none;
    /* background-color: #fff; */
    float: right;
    background-color: white;
    
    /* background-color: rgb(238, 238, 238); */
    margin-right: 20px;
}

.js-cross-btn {
    background-color: rgb(238, 238, 238);
    height: 20px;
    width: 20px;
}

.edit-btn {
    outline: none !important;
    border: none;
    /* background-color: #fff; */
    float: right;
    background-color: white;

    /* background-color: rgb(238, 238, 238); */
    margin-right: 20px;
}

.js-edit-btn {
    height: 20px;
    width: 20px;
}


/* scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #2ba8f0;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}